In [19]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold, cross_val_score

In [3]:
data = pd.read_csv("titanic.csv", index_col="PassengerId")

In [4]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [29]:
def sexToInt(sex):
    if (sex == "female"):
        return 0
    else:
        return 1

filteredData = data.copy()
filteredData = filteredData.drop(["Cabin"], axis=1)
filteredData = filteredData.dropna()
filteredData = filteredData.filter(["Pclass", "Sex", "Age", "Fare", "Survived"])
filteredData["Sex"] = filteredData["Sex"].apply(sexToInt)
X = filteredData.drop(["Survived"], axis=1)
y = filteredData["Survived"].values

In [20]:
neigh = KNeighborsClassifier()

In [30]:
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [31]:
testData = pd.read_csv("test.csv", index_col="PassengerId")
testfilteredData = data.copy()
testfilteredData = testfilteredData.drop(["Cabin"], axis=1)
testfilteredData = testfilteredData.dropna()
testfilteredData = testfilteredData.filter(["Pclass", "Sex", "Age", "Fare"])
testfilteredData["Sex"] = testfilteredData["Sex"].apply(sexToInt)
XTest = testfilteredData

In [38]:
ytest = neigh.predict(XTest)
result = pd.DataFrame({
    "PassengerId": XTest.index.values,
    "Survived": ytest
});

In [39]:
result.to_csv("submission.csv")