In [74]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold, cross_val_score
from sklearn import preprocessing

In [2]:
data = pd.read_csv("titanic.csv", index_col="PassengerId")

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [77]:
def sexToInt(sex):
    if (sex == "female"):
        return 0
    else:
        return 1

def embToInt(embarked):
    if (embarked == "S"):
        return 0
    elif (embarked == "C"):
        return 1
    else:
        return 2
    
filteredData = data.copy()
filteredData = filteredData.drop(["Cabin", "Name", "Ticket"], axis=1)
filteredData["Age"] = filteredData["Age"].fillna(filteredData["Age"].mean())
filteredData["Fare"] = filteredData["Fare"].fillna(filteredData["Fare"].mean())
filteredData["Sex"] = filteredData["Sex"].apply(sexToInt)
filteredData["Embarked"] = filteredData["Embarked"].apply(embToInt)
X = filteredData.drop(["Survived"], axis=1)
X = preprocessing.scale(X)
y = filteredData["Survived"].values

In [81]:
neigh = KNeighborsClassifier(n_neighbors=14)

In [82]:
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=14, p=2,
           weights='uniform')

In [88]:
testData = pd.read_csv("test.csv", index_col="PassengerId")
testfilteredData = testData.copy()
testfilteredData = testfilteredData.drop(["Cabin", "Name", "Ticket"], axis=1)

# считаем средний возраст и вставляем его там где не задано
avgAge = testfilteredData["Age"].mean()
testfilteredData["Age"] = testfilteredData["Age"].fillna(avgAge)

# считаем средний возраст и вставляем его там где не задано
avgFare = testfilteredData["Fare"].mean()
testfilteredData["Fare"] = testfilteredData["Fare"].fillna(avgFare)
testfilteredData["Sex"] = testfilteredData["Sex"].apply(sexToInt)
testfilteredData["Embarked"] = testfilteredData["Embarked"].apply(embToInt)
XTest = testfilteredData
XTestScaled = preprocessing.scale(testfilteredData)

array([[ 0.87348191,  0.75592895,  0.3349926 , ..., -0.4002477 ,
        -0.49840706,  2.24316522],
       [ 0.87348191, -1.32287566,  1.32553003, ..., -0.4002477 ,
        -0.51327429, -0.6778412 ],
       [-0.31581919,  0.75592895,  2.51417495, ..., -0.4002477 ,
        -0.46508846,  2.24316522],
       ...,
       [ 0.87348191,  0.75592895,  0.65196458, ..., -0.4002477 ,
        -0.50879189, -0.6778412 ],
       [ 0.87348191,  0.75592895,  0.        , ..., -0.4002477 ,
        -0.4944482 , -0.6778412 ],
       [ 0.87348191,  0.75592895,  0.        , ...,  0.61989583,
        -0.23790598,  0.78266201]])

In [80]:
kf = KFold(n_splits = 5)
means = np.array([])
for i in range(1, 50):
    neighI = KNeighborsClassifier(n_neighbors=i)
    means = np.append(means, cross_val_score(neighI, X, y, cv=kf).mean())
means.argmax()

13

In [90]:
ytest = neigh.predict(XTest)
result = pd.DataFrame({
    "PassengerId": XTest[],
    "Survived": ytest
})

In [84]:
result.to_csv("submission.csv", index=None)